doctype html
html
   style
      include ../public/style.css
   script(src='https://cdn.jsdelivr.net/npm/chart.js')
   body
      include ./header.pug
      h2 Bienvenido #{nombre}
      p Hello Perro!
      include ./image.pug
      include ./chart.pug
      include ./footer.pug
      script(src='example.js')