figure 
    img(src="kitty.png" alt="kitty")
figure 
    img(src="https://lh3.googleusercontent.com/proxy/Zg3x_JPOUPYaS9NPWQC2u04jpFNfUkFVgW9Oawya0SsI_SXmkvxuk5ngowkuMprLm7WblwlT5TgQ2jY9quEDbiuvnlAc0hC6PLBK5leEP_cflBJIevINOADZnDpM-p7wS9XDl5rebOzz6V7yuQ" alt="twinpeaks")  